a[href*='unsplash'] {
    display: none;
}
a {
    text-decoration: none;
    color: inherit;
}

* {
    margin: 0;
    padding: 0;
}

/* ------------------section1------------------*/
.section1 {
    position: relative; overflow: hidden;
    font-family: 'Nanum Myeongjo', serif;
    width: 100vw; height: 100vh;
    display: flex; justify-content: center; align-items: center;
    color: #212121;
}
.background {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(images/section1.jpg);
    background-position: center;
    background-size: cover;
    overflow: hidden;
    z-index: -1;
    transform: scale(3); /* 초기에 이미지가 가까이 보이도록 설정 */
    transform-origin: center center;
}

.section1 h1>span:nth-child(1) {
    display: block;
    font-size: 3rem;
}
.section1 h1>span:nth-child(2) {
    display: inline-block;
    margin-right: 10px;
    font-size: 8rem;
    color: transparent;
    -webkit-text-stroke: 2px #212121;

}
.section1 h1>span:nth-child(3) {
    display: inline-block;
    font-size: 3rem;
}
.section1 h1>span:nth-child(3)>i {
    color: #212121;
    font-size: 2rem;
    margin-left: 10px;
}
.section1 h1>span:nth-child(3)>a { padding: 10px; }
.section1 h1 img {
    width: 50px;
    height: 50px;
}