*{ margin: 0; padding: 0; box-sizing: border-box; font-family: 'Noto Sans Display', sans-serif;}
body { background-color: #FFFDFF;}
a[href*=flaticon], a[href*=unsplash] { display: none;}
a {text-decoration: none;}
#header, #footer {
    margin-left: 30px;
    margin-right: 30px;
}
#banner, #section-employee, #section-nails-room, #footer {
    margin-left: 30px;
    margin-right: 30px;
    border-bottom: 3px solid #DAD9FF;
    border-left: 3px solid #DAD9FF;
    border-right: 3px solid #DAD9FF;
}
p, li {
    font-size: 1.3rem;
    color: #4C4C4C;
}
h2 {
    font-size: 2rem;
    color: #4C4C4C;
}
dt {
    font-size: 1.2rem;
    font-weight: bold;
}

/* ------------------------------header--------------------------------------- */
#header {
    padding-top: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #DAD9FF;
}

.header-logo img{
    height: 100px;
    width: 100px;
    padding-top: 1rem;
    margin-bottom: 2rem;
}
#header-nav {
    width: 80%;
}
.header-menu {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: space-between;
}
    .header-menu a:hover {
        text-decoration: underline;
        text-decoration-thickness: 5px;
        text-decoration-color: #D1B2FF;
    }
    .header-menu a:hover .img{
        content: url(./images/nail-polish3.png);
    }
    .header-menu img{
        width: 50px;
        height: 50px;
    }
/* -------------------------------main-------------------------------------- */
#main {
    display: flex;
    flex-direction: column;
}
#banner {
    height: 300px;
}
#section-employee {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
    #section-employee>h2 {
        width: 100%;
        padding-left: 50px; padding-top: 50px;
    }
    #section-employee>div {
        height: 500px;
        flex-basis: 300px;
        flex-grow: 1;
        flex-shrink: 0;
        display: flex; /* 이미지 중간정렬 */
        align-items: center; /* 이미지 중간정렬 */
        flex-wrap: wrap;
        margin: 50px 20px;
        opacity: 0; /* for 페이드인 */
        transition: opacity 0.5s ease-out; /* for 페이드인 */
    }
    /* #section-employee>div.show {
        opacity: 1;
    } 
    js의 sectionDiv[i].classList.add('show');, sectionDiv[i].classList.add('show');에서
    직접 속성에 추가하는 것으로 바꿈
    */
        #section-employee>div>div{
            width: 200px;
            margin: 0 20px; padding: 0 10px;
            flex-grow: 1;
            flex-shrink: 0;
        }

#section-nails-room {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
    .nails-room-aside {
        flex-basis: 300px;
        flex-shrink: 0;
    }
        .nails-room-aside>div {
            margin-top: 100px;
            width: 100%;
            text-align: left;
            padding-left: 20px;
        }
    .nails-room {
        flex-basis: 300px;
        flex-grow: 1;
        height: 550px; /* 임의높이 */
        overflow: hidden;
        position: relative;
    }
    .nails-room>.pre-btn, .next-btn{
        width: 50px; height: 50px;
        border-radius: 50%;
        opacity: 0.3;
        font-size: 2rem;
        border: none;
        cursor: pointer;
        z-index: 1;
    }
    .nails-room>.pre-btn:hover,.next-btn:hover {
        opacity: 1;
    }
    .nails-room>.pre-btn{
        position: absolute;
        top: 50%;
    }
    .nails-room>.next-btn{
        position: absolute;
        top: 50%;
        right: 0px;
    }
    .nails-room>ul {
        display: flex;
        list-style: none;
        margin-top: 100px;
        border-top: 1px solid #D1B2FF; border-bottom: 1px solid #D1B2FF;
        padding: 30px 0;
    }
        .nails-room>ul>li {
            width: 300px;
            height: 300px;
            flex-shrink: 0;
            transition: transform 0.5s ease-in-out;
        }
            .nails-room>ul>li>img {
                width: inherit;
                height: inherit;
                object-fit: cover;
            }


/* --------------------------------------------------------------------- */
#footer {
    height: 100px;
    margin-bottom: 1rem;
    background-color: #e8d8ff;
}
/* --------------------------------------------------------------------- */
@media screen and (max-width: 900px) {

}